#question-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-list-header {
  padding: 20px;
  border-bottom: 1px solid grey;
  height: 100px;
}

li {
  list-style-type: none;
}

.questions-list-container {
  height: calc(100% - 200px);
  overflow: auto;
}
